<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestMcashMAPIClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestMcashMAPIClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestMcashMAPIClient.Settings1>
            <setting name="testbedToken" serializeAs="String">
                <value />
            </setting>
            <setting name="merchantId" serializeAs="String">
                <value />
            </setting>
            <setting name="merchantUserId" serializeAs="String">
                <value />
            </setting>
        </TestMcashMAPIClient.Settings1>
    </applicationSettings>
    <userSettings>
        <TestMcashMAPIClient.Settings>
            <setting name="testbedToken" serializeAs="String">
                <value />
            </setting>
            <setting name="merchantId" serializeAs="String">
                <value>cs</value>
            </setting>
            <setting name="merchantUserId" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="baseUri" serializeAs="String">
                <value>https://mcashtestbed.appspot.com/merchant/v1</value>
            </setting>
            <setting name="merchantSecret" serializeAs="String">
                <value>supersecret</value>
            </setting>
        </TestMcashMAPIClient.Settings>
    </userSettings>
  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net "/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>